python/venv/
python/__pycache__/
SlidesV2/src/lib/svt_news/svt_news.json
SlidesV2/.svelte-kit/ambient.d.ts
SlidesV2/.svelte-kit/generated/server/internal.js
SlidesV2/.svelte-kit/generated/server/internal.js
